{{- /*
    SPDX-FileCopyrightText: 2026 Claire Tam <claire2026t@posteo.net>
    SPDX-License-Identifier: MIT
*/ -}}

{{- $currentPage := . -}}
{{- $postsPage := site.GetPage "posts" -}}
{{- $postsUrl := cond (ne $postsPage nil) $postsPage.RelPermalink ("/posts/" | relLangURL) -}}

<div class="tag-list">
    <div>{{ i18n "filter_by_tags" }}</div>
    <ul>
        {{- /* 'all' link */ -}}
        {{- if eq $currentPage.RelPermalink $postsUrl }}
            <li class="active">{{ i18n "tag_all" }}</li>
        {{- else }}
            <li><a href="{{ $postsUrl }}">{{ i18n "tag_all" }}</a></li>
        {{- end }}
        {{- /* Individual tags */ -}}
        {{- range site.Taxonomies.tags.Alphabetical }}
            {{- if eq $currentPage.RelPermalink .Page.RelPermalink }}
                <li class="active">{{ .Page.Title | lower }}</li>
            {{- else }}
                <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title | lower }}</a></li>
            {{- end }}
        {{- end }}
    </ul>
</div>